<div class="actions clearfix">
    <ul role="menu" aria-label="Pagination">
        {% if page.curStepOrder > 1 %}
            <li>
                <a href="step-{{page.prevStepOrder}}" role="menuitem">
                    <i class="fa fa-angle-left"></i>
                    Предыдущий шаг
                </a>
            </li>
        {% else %}
            <li class="disabled">
                <a href="step-{{page.prevStepOrder}}" class="disabledStep" role="menuitem">
                    <i class="fa fa-angle-left"></i>
                    Предыдущий шаг
                </a>
            </li>
        {% endif %}

        {% assign maxStep = site.data.courses.[page.courseCode].[page.currentCourseRelease].lessons.[page.lessonCode].exercises.[page.exCode].maxStep %}
        {% if page.curStepOrder < maxStep %}
            <li>
                <a href="step-{{page.nextStepOrder}}" role="menuitem">
                    Следующий шаг
                    <i class="fa fa-angle-right"></i>
                </a>
            </li>
        {% else %}
            <li class="disabled">
                <a href="step-{{page.nextStepOrder}}" class="disabledStep" role="menuitem">
                    Следующий шаг
                    <i class="fa fa-angle-right"></i>
                </a>
            </li>
        {% endif %}
    </ul>
</div>
