<section class="mail-list">
    <div class="article_content">
        <div id="example-vertical" role="application" class="wizard clearfix vertical">

            <div class="actions clearfix">
                <ul role="menu" aria-label="Pagination">
                    <li>
                        <a href="step-1.html" role="menuitem">
                            Выполнить упражнение
                        </a>
                    </li>

                    <li>
                        <a href="downloads/{{page.exCode}}.docx" role="menuitem" download>
                            Скачать упражнение
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <hr>
</section>
