<div class="actions clearfix">
    <ul role="menu" aria-label="Pagination">
        {% if page.curStepOrder > 0 %}
            <li>
                <a href="#previous" role="menuitem">
                    <i class="fa fa-angle-left"></i>
                    Предыдущий шаг
                </a>
            </li>
        {% endif %}

        {% if page.curStepOrder < site.data.lessons.ide-notepad.exercises.ide-notepad-plus-plus-utf8.max-step %}
            <li>
                <a href="#next" role="menuitem">
                    Следующий шаг
                    <i class="fa fa-angle-right"></i>
                </a>
            </li>
        {% endif %}
    </ul>
</div>
