<div class="steps clearfix">
    <ul role="tablist">
        {% assign maxStep = site.data.courses.[page.courseCode].[page.currentCourseRelease].lessons.[page.lessonCode].exercises.[page.exCode].max-step %}
        {% for order in (1 .. maxStep) %}

            {% if order < page.curStepOrder %}
                <li role="tab" class="done">
                    <a href="step-{{order}}">
                        Шаг-{{order}}
                    </a>
                </li>
            {% elsif order > page.curStepOrder %}
                <li role="tab" class="disabled">
                    <a href="step-{{order}}">
                        Шаг-{{order}}
                    </a>
                </li>
            {% else %}
                <li role="tab" class="current">
                    <a href="step-{{order}}">
                        Шаг-{{order}}
                    </a>
                </li>
            {% endif %}

        {% endfor %}
    </ul>
</div>