<section class="mail-list">
    <div class="article_content">
        <div id="example-vertical" role="application" class="wizard clearfix vertical">

            <div class="actions clearfix">
                <ul role="menu" aria-label="Pagination">
                    <li>
                        <a href="downloads/lab-{{page.labWorkCode}}.docx" role="menuitem" download>
                            Скачать лабораторную работу
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <hr>
</section>
