<section class="mail-list">
    <div class="mail-sender">
        <div class="mail-heading">
            <h3 class="vew-mail-header">
                <b>Характеристики ошибки</b>
            </h3>
        </div>
    </div>

    <div class="view-mail">
        <div class="table-scrollable col-md-6">
            <table class="table">
                <tbody>
                    {% for quizItem in site.data.lab-work-errors.[page.errorCategoryCode].[page.errorCode].quiz-data %}
                        <tr>
                            <td>
                                <b>{{quizItem.question}}:</b>
                                <p style="text-align: right">
                                    <span class="badge">{{quizItem.answer}}</span>
                                </p>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <hr>
</section>
