<ol>
    <li>Вопрос-1</li>
    <li>Вопрос-2</li>
    <li>Вопрос-3</li>
</ol>

<p>
    Обновленный INCLUDE:
</p>

<p>
    Данные из опроса:
</p>

<table width="100%" border="1">
    <thead>
    <tr>
        <th>Порядковый номер</th>
        <th>Вопрос</th>
        <th>Ответ</th>
    </tr>
    </thead>
    <tbody>
    {% for quizItem in site.data.lab-work-errors.no-root-directory.lab-work-data.quiz-data %}
    <tr>
        <td>{{quizItem.order-number}}</td>
        <td>{{quizItem.question}}</td>
        <td>{{quizItem.answer}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
