div.article_content p, div.article_content li {
    text-align: left;
    font:20px/1.4 Georgia, serif;
    color:#555;
}

code {
    font-weight: bold;
    color: #3C8DBC;
    padding: 3px;
}

q {
    font-style: italic;
    font-weight: bolder;
    color: #3C8DBC;
    quotes: "\00ab" "\00bb";
}

.article_image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid #3C8DBC;
    padding: 20px;
    margin-bottom: 20px;
    max-width: 80%;
}

.article_video {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid #3C8DBC;
    padding: 20px;
    margin-bottom: 20px;
    width: 560px;
    height: 315px;
    max-width: content-box;
}

.bottom_banner_box {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
    max-width: 80%;
}

.success_code {
    font-weight: bold;
    color: #008000;
}

.error_code {
    font-weight: bold;
    color: #B22222;
}

.crossed_out {
    text-decoration: line-through;
}

.change_text {
    font-weight: bold;
    color: red;
    text-decoration: line-through;
}

.note_box {
    border: 1px solid #0B2E13;
    padding: 15px 12px;
    padding-bottom: 5px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

div.note_box p, div.note_box li {
    font-weight: bold;
    text-align: center;
}

div.left_note_box p, div.left_note_box li {
    text-align: left !important;
}

div.thin_note_box p, div.thin_note_box li {
    font-weight: normal !important;
}

.info_box {
    background-color: #E7F3FE;
    border-left: 6px solid #2196F3;
}

.success_box {
    background-color: #DDFFDD;
    border-left: 6px solid #4CAF50;
}

.warning_box {
    background-color: #FFFFCC;
    border-left: 6px solid #FFEB3B;
}

.danger_box {
    background-color: #FFDDDD;
    border-left: 6px solid #F44336;
}

.argument_header {
    font-weight: bold !important;
    color: #3C8DBC !important;
    margin-top: 30px;
    border-bottom: 1px dotted #3C8DBC;
}

.argument_header_begin {
    color: #F44336 !important;
}
