div.article_content p, div.article_content li {
    text-align: left;
    font:20px/1.4 Georgia, serif;
    color:#555;
}

code {
    font-weight: bold;
    color: #3C8DBC;
    padding: 3px;
}

.article_image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid #3C8DBC;
    padding: 20px;
    margin-bottom: 20px;
    max-width: 80%;
}

.success_code {
    font-weight: bold;
    color: #008000;
}

.error_code {
    font-weight: bold;
    color: #B22222;
}

.crossed_out {
    text-decoration: line-through;
}

.note_box {
    border: 1px solid #0B2E13;
    margin-bottom: 15px;
    padding: 4px 12px;
}

div.note_box p, div.note_box li {
    font-weight: bold;
}

.info_box {
    background-color: #E7F3FE;
    border-left: 6px solid #2196F3;
}

.success_box {
    background-color: #DDFFDD;
    border-left: 6px solid #4CAF50;
}

.warning_box {
    background-color: #FFFFCC;
    border-left: 6px solid #FFEB3B;
}

.danger_box {
    background-color: #FFDDDD;
    border-left: 6px solid #F44336;
}
