div.article_content p, div.article_content li {
    text-align: left;
    font:20px/1.4 Georgia, serif;
    color:#555;
}

code {
    font-weight: bold;
    color: #3C8DBC;
    padding: 3px;
}

.article_image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid #3C8DBC;
    padding: 20px;
    margin-bottom: 20px;
}

.success_code {
    font-weight: bold;
    color: #008000;
}

.error_code {
    font-weight: bold;
    color: #B22222;
}

.crossed_out {
    text-decoration: line-through;
}

.danger_box {
    background-color: #FFDDDD;
    border: 1px solid #0B2E13;
    border-left: 6px solid #F44336;
    padding: 10px;
    margin: 10px;
}

div.danger_box p, div.danger_box li {
    font-weight: bold;
}